<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="db" connectionString="Server=192.168.133.3,1433\SQLEXPRESS;Database=PosteIntranet;User ID=poste;Password=H17m2022PsmA;Trusted_Connection=False;"/>		
	</connectionStrings>
	<appSettings>			
		<!-- Email -->		
		<add key="template_email_moduli" value="C:\Daniele\05. Sviluppo\SendModuli\template\template_modulodfn_email.html"/>
		<add key="emailInfo" value="info.dfn@poste.sm"/>
		<add key="emailCommIT" value="ordini.commercianti.dfn@poste.sm"/>
		<add key="emailCommEN" value="dealers.order.dfn@poste.sm"/>
		<add key="nameFromInfo" value="Divisione Filatelica Numismatica San Marino"/>			
	</appSettings>
</configuration>